name: upload_release

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-java@v5.1.0
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Set plugin version
        run: sed -i "s/versionPlaceholder/${{ github.event.release.tag_name }}/g" ./build.gradle.kts

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Rename jar
        run: mv ./paper/build/libs/paper-*-all.jar ./MinecraftPluginManager_${{ github.event.release.tag_name }}.jar

      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: txv68jS0
          modrinth-featured: true
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-draft: false
          files: |
            ./MinecraftPluginManager_${{ github.event.release.tag_name }}.jar
          loaders: |
            paper
            purpur
          game-versions: |
            1.21
          game-version-filter: releases
          java: |
            21